docker run -t -e DESTINATION=/loot \
    -e TWITTER_CONSUMER_KEY="CONSUMER_KEY" \
    -e TWITTER_CONSUMER_SECRET="CONSUMER_SECRET" \
    -e TWITTER_TOKEN="TOKEN" \
    -e TWITTER_TOKEN_SECRET="TOKEN_SECRET" \
    lootbox


